/External

/bin

/CrashDmpFix
/Release

/EclipseStudio
/Final

/EclipseStudio/Release

/Eternity/Release

/Eternity/Release_Server

/RSUpdateold
/Scripts/WZBackend-ASP.NET/Precompiled

/server/AdminClient/Release

/server/Debug

/server/MasterServer
/Release

/server/MasterServer/Debug

/server/Release

/server/SupervisorServer/Release

/server/SupervisorServer/Debug

/server/ts3_sdk_Server/Debug

/server/ts3_sdk_Server/Release

/server/WO_GameServer/Release

/server/WO_GameServer/Debug

/BrowserLauncher

*.ncb

*.suo
*.user
/RSBuild/Release
/RSBuild/*.user
/RSBuild/*.suo
/RSUpdate/Release
/RSUpdate/RSUpdate.suo
/Eternity/Final
/Eternity/Debug_Server
/Eternity/Release_NoCrashRpt
/EclipseStudio/*.user
